/** LIGHT THEME */
.node-wall-light {
    background: #2d4365;
}

.node-start-light {
    background: #58b368;
}

.node-finish-light {
    background: #eb4d55;
}

.node-traversed-path-light {
    background: #A2C5AC;
}

.node-shortest-path-light {
    background: #58179E;
}

.node-light {
    box-sizing: border-box;
    border: 1px rgb(152, 152, 152) solid;
    margin: 0;
    padding: 0;
}

/** DARK THEME */
.node-wall-dark {
    box-shadow: 
        inset 0 0 2px rgb(252, 172, 252),
        inset 0 0 12px rgb(214, 0, 214),
        0 0 2px #D400D4;
}

.node-start-dark {
    box-shadow: 
        inset 0 0 4px rgb(195, 255, 195),
        inset 0 0 17px rgb(0, 255, 0),
        0 0 2px rgb(0, 255, 0);
}

.node-finish-dark {
    box-shadow: 
        inset 0 0 2px rgb(255, 195, 195),
        inset 0 0 17px rgb(255, 0, 0),
        0 0 2px rgb(255, 0, 0);
}

.node-traversed-path-dark {
    box-shadow: 
        inset 0 0 1px #ffffff,
        inset 0 0 8px #00ffff;
}

.node-shortest-path-dark {
    box-shadow: 
        inset 0 0 5px #ffffff,
        inset 0 0 5px #ffffff,
        inset 0 0 5px #ffffff,
        inset 0 0 5px #ffffff,
        inset 0 0 10px #00ffff;
        /* inset 0 0 15px #D400D4; */
        /* inset 0 0 15px rgb(0, 0, 255); */
}

.node-dark {
    box-sizing: border-box;
    border: 1px rgb(34, 34, 34) solid;
    margin: 0;
    padding: 0;
    background: black
}

/* All code sounds smart when you personalise it and talk about it in the third person: (Talking about a Node on a Grid)

'When you drop it on the grid, it automatically frees up a place for itself.,' */